.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  outline-style: solid;
  border-inline-color: #040404;
  outline-color:  rgba(34, 216, 77, 0.7);
  outline-width: 7px
}

.input {
  border: 0;
  padding: 7px;
  width: 85%;
  font-size: 1.3em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: rgb(0, 0, 0) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 15%;
}